{% macro componentContent(componentTitle, sections = []) %}
<!-- Component -->
<div>
  <div class="v-font-h4 v-text-primary v-mb-size-24">
    {{componentTitle}}
  </div>
  {% for section in sections %}
  <div class="v-mb-size-24">
    <div class="v-font-btn-label v-text-primary v-mb-size-12">
      {{ section.title }}
    </div>
    <div class="v-mb-size-32">
      <div class="v-bg-backdrop-popover v-p-size-24 v-rounded-12">
        <div class="v-bg-primary v-p-size-24 v-rounded-12">
          {% if section.children %}
            {% for child in section.children %}
              <div class="v-mb-size-32 v-border-divider-secondary v-rounded-12 v-p-size-12">
                <div class="v-font-field-label-sm-em v-mb-size-12 v-text-primary">{{ child.title }}</div>
                  {% include child.src %}
              </div>
            {% endfor %}
          {% else %}
            {% include section.src %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<!-- Component -->
{% endmacro %}