<vega-flex direction="col">
  <vega-card>
    <vega-table
      ngModel
      #table
      ngDefaultControl
      [rowClickable]="true"
      [columns]="columns"
      [dataSource]="dataSource"
    />
    <div class="v-mt-size-12 v-font-p2-short v-text-primary">
      <vega-button-link
        size="small"
        icon="plus-sign"
        (vegaClick)="onAddNew()"
      >
        Add New
      </vega-button-link>
    </div>
  </vega-card>
  <div class="v-mt-size-12">
    <vega-flex gap="size-8">
      <vega-button
        size="small"
        (vegaClick)="onSaveRowData()"
      >
        Get All Rows Data & Save
      </vega-button>
    </vega-flex>
  </div>
  <div class="v-mt-size-8 v-text-primary">
    <div class="v-font-field-label v-text-success">Saved Data:</div>
    <div class="v-font-field-label">
      {{ stringifySavedData(editedData) }}
    </div>
  </div>
</vega-flex>
