<vega-table
  row-clickable="true"
  id="table-with-clickable-row"
>
</vega-table>

<div class="v-bg-primary v-text-primary">
  <p class="v-font-h6 v-mt-size-12">Try to click a row</p>

  <div>
    <label class="v-font-field-label">Clicked Row Record:</label>
    <p id="clicked-row-record"></p>
    <label class="v-font-field-label">Clicked Row Index:</label>
    <p id="clicked-row-index"></p>
  </div>
  <vega-modal id="table-row-detail-modal">Test</vega-modal>
</div>

<!-- Requires Javascript -->
<script>
  const tableWithClickableRow = document.querySelector("#table-with-clickable-row")
  tableWithClickableRow.columns = [
    {
      label: "Date",
      prop: "date"
    },
    {
      label: "Amount",
      prop: "amount"
    },
    {
      label: "Balance",
      prop: "balance"
    }
  ]

  tableWithClickableRow.dataSource = [
    {
      key: "1",
      date: "01/01/2022",
      amount: 100,
      balance: "$100",
      status: "In Progress"
    },
    {
      key: "2",
      date: "01/02/2022",
      amount: 300,
      balance: "$200",
      status: "In Progress"
    },
    {
      key: "3",
      date: "01/03/2022",
      amount: 400,
      balance: "$300",
      status: "Not Started"
    },
    {
      key: "4",
      date: "01/04/2022",
      amount: 200,
      balance: "$400",
      status: "Pending"
    }
  ]

  setTimeout(() => {
    const tableRowClickableTemplate = document.querySelector("#table-with-clickable-row")
    tableWithClickableRow.addEventListener("vegaRowClick", (e) => {
      document.querySelector("#clicked-row-record").innerHTML = JSON.stringify(e.detail.record)
      document.querySelector("#clicked-row-index").innerHTML = e.detail.index
    })
  })
</script>
