<vega-flex direction="col">
  <vega-flex gap="size-16">
    <vega-button-circle
      variant="secondary"
      size="default"
      icon="arrow-left"
      (vegaClick)="goToPreviousPage($event)"
    />
    <vega-button-circle
      variant="secondary"
      size="default"
      icon="arrow-right"
      (vegaClick)="goToNextPage($event)"
    />
  </vega-flex>
  <vega-carousel
    ngModel
    #carousel
    ngDefaultControl
    per-page="1"
    spacing="size-32"
    show-slider="true"
  >
    <vega-card
      shadow="shadow-card"
      background-color="bg-primary"
      padding="size-24"
    >
      <div class="v-text-primary v-font-p2-short">First page</div>
    </vega-card>
    <vega-card
      shadow="shadow-card"
      background-color="bg-primary"
      padding="size-24"
    >
      <div class="v-text-primary v-font-p2-short">Second page</div>
    </vega-card>
    <vega-card
      shadow="shadow-card"
      background-color="bg-primary"
      padding="size-24"
    >
      <div class="v-text-primary v-font-p2-short">Third page</div>
    </vega-card>
  </vega-carousel>
</vega-flex>
