<vega-color-picker
  id="color-variation"
  label="Choose a Color"
  value="#CCCCCC"
  auto-validation="true"
  hint="Select a color from the list"
>
</vega-color-picker>

<div
  id="box2"
  style="
    margin-top: 12px;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    background-color: #cccccc;
  "
></div>

<!-- Requires Javascript -->
<script>
  const pickerVariation = document.querySelector("#color-variation")
  pickerVariation.colors = [
    "#FFFFFF",
    "#000000",
    "#FF0000",
    "#CCCCCC",
    "#0000FF",
    "#00FFCC",
    "#FF00FF",
    "#99CC00"
  ]
  pickerVariation.addEventListener("vegaChange", (e) => {
    document.querySelector("#box2").style.backgroundColor = e.currentTarget.value
  })
</script>
