<vega-form>
  <vega-input-credit-card
    class="v-mb-size-12"
    data-vega-form="creditCard1"
    value="4111 1111 1111 1111"
    hide-card-number-on-blur="true"
  />
  <vega-input-credit-card
    class="v-mb-size-12"
    data-vega-form="creditCard2"
    value="5555 5555 5555 4444"
  />
  <vega-input-credit-card
    class="v-mb-size-12"
    data-vega-form="creditCard3"
    value="6011 1111 1111 1117"
  />
  <vega-input-credit-card
    class="v-mb-size-12"
    data-vega-form="creditCard4"
    value="3782 822463 10006"
  />
</vega-form>
